#staff {
  .avatar {
    width: 120px;
    height: 120px;
    z-index: 1000;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid $primary-color;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
  }
  .member {
    padding-top: 60px;
  }
  .card {
    margin-bottom: 50px;
    .card-body {
      padding: 90px 20px 20px 20px;
      text-align: center;
      header {
        margin-bottom: 20px;
        h4 {
          margin: 0;
        }
        div {
          text-transform: uppercase;
          color: #999;
        }
      }
      p {
        color: #999;
      }
    }
  }
}
